# Разрешить build scripts для всех пакетов
enable-pre-post-scripts=true

# Разрешить build scripts для конкретных пакетов
@firebase/util=true
@prisma/client=true
@prisma/engines=true
prisma=true
protobufjs=true
sharp=true

# Настройки для Vercel
auto-install-peers=true
strict-peer-dependencies=false
